
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Gloria+Hallelujah&family=Montserrat&display=swap');

.font-gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}
